<div>
  <h2 mat-dialog-title>Important Tasks</h2>
  <mat-dialog-content
    ><mat-list *ngIf="importantTasks.length > 0" role="list">
      <mat-list-item *ngFor="let task of importantTasks" role="listitem">{{
        task.Task
      }}</mat-list-item>
    </mat-list>
    <div *ngIf="importantTasks.length === 0">No important tasks found</div>
  </mat-dialog-content>
  <mat-dialog-actions class="d-flex justify-content-end">
    <div>
      <button mat-raised-button color="primary" (click)="onClose()">OK</button>
    </div>
  </mat-dialog-actions>
</div>
